.footer-modern {
  background: linear-gradient(90deg, #ff4b2b, #ff416c);
  color: white;
  padding: 50px 0;
  font-family: 'Poppins', sans-serif;
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  max-width: 1200px;
  margin: auto;
  gap: 30px;
  text-align: center;
}

.footer-section {
  flex: 1;
  min-width: 250px;
}

.footer-left h3 {
  font-size: 28px;
  margin-bottom: 10px;
}

.footer-left span {
  color: #ffe082;
}

.footer-company-name {
  font-size: 14px;
  margin-top: 10px;
  opacity: 0.8;
}

/* Center Section */
.footer-center div {
  /* margin: 12px 0; */
  display: flex;
  align-items: center;
  /* justify-content: center; */
  gap: 10px;
}

.footer-icon {
  font-size: 18px;
  color: #ffe082;
}

/* Right Section */
.footer-about {
  margin-bottom: 15px;
  font-size: 14px;
  line-height: 1.5;
  opacity: 0.9;
}

.footer-socials a {
  display: inline-block;
  margin: 0 8px;
  color: white;
  font-size: 18px;
  transition: 0.3s;
}

.footer-socials a:hover {
  color: #ffe082;
  transform: translateY(-3px);
}

/* Responsive */
@media (max-width: 768px) {
  .footer-container {
    flex-direction: column;
    text-align: center;
  }
}
